/Makefile
/Makefile.inc
/config.log
/config.status
/debian/
/doc/html/
/doc/manual.sgml
/doc/nd/
/doc/osra.1
/doc/osra.html
/package/linux/debian/control
/package/linux/debian/rules
/package/linux/osra.pc
/package/linux/suse/osra.spec
/pom.xml
/src/*.a
/src/*.o
/src/*.so
/src/Makefile.dep
/src/config.h
/src/osra
