Source: osra
Section: graphics
Priority: optional
Maintainer: Dmitry Katsubo <dma_k@mail.ru>
Build-Depends: debhelper (>= 7.0.50), libc6-dev (>= 2.7), libstdc++6-4.4-dev, libtclap-dev (>= 1.2), libpotrace-dev (>= 1.8), gocr-dev (>= 0.45), ocrad-dev (>= 0.17), libopenbabel-dev (>= 2.2), libgraphicsmagick++1-dev (>= 1.3), docbook-xsl, docbook-xml, xsltproc, naturaldocs 
Standards-Version: 3.8.4
Homepage: http://osra.sourceforge.net/
XS-Vcs-Svn: https://osra.svn.sourceforge.net/svnroot/osra/
Vcs-browser: http://osra.svn.sourceforge.net/viewvc/osra/

Package: osra
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, libpotrace0 (>= 1.8), libopenbabel3 (>= 2.2), libgraphicsmagick++3 (>= 1.3)
Recommends: gocr, ocrad, potrace
Description: A command line chemical structure recognition tool
 OSRA is a utility designed to convert graphical representations of chemical
 structures into SMILES or SDF.
 OSRA can read a document in any of the over 90 graphical formats parseable by
 GraphicMagick and generate the SMILES or SDF representation of the molecular
 structure images encountered within that document.
 .
 Authors:
   Igor Filippov <igorf@helix.nih.gov>
